# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Database files
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log

pyvenv.cfg